.deckParent {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 100%;
	transform: scale(0.87);
}

.deckItem {
	height: 100%;
	max-height: 30rem;
	width: 12rem;
	background: transparent;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 18px 21px 1px rgba(0, 0, 0, 0.17);
}

.deckCenter {
	z-index: -2;
	margin-bottom: 4rem;
}

.deckRotate {
	position: absolute;
	z-index: -1;
	margin-bottom: 3rem;
}

.screenItem {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
