.btn {
	all: unset;
	cursor: pointer;
	background: #E8E8E8;
	border-radius: 30px;
	width: 75%;
	box-sizing: border-box;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 500;
}