.parent {
	display: grid;
	grid-template-columns: 100px 1fr;
	height: 100%;
	background-image: url(/stripes.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.navContainer {
	display: flex;
	padding-top: 1.5rem;
	justify-content: center;
}

.contentContainer {
	display: flex;
	flex-direction: column;
}

.contentParent {
	height: 100%;
	display: flex;
	justify-content: center;
}

.logoHeading {
	min-height: 3rem;
	font-size: 48px;
	font-weight: 800;
	background: white;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2rem;
}

.logoHeading img {
	height: 2.5rem;
}