.parent {
	display: grid;
	grid-template-columns: 100px 1fr;
	height: 100%;
}

.navContainer {
	display: flex;
	padding-top: 1.5rem;
	justify-content: center;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	background-image: url(/stripes.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.contentParent {
	height: 100%;
	display: flex;
	justify-content: center;
}

.logoHeading {
	min-height: 3rem;
	font-size: 48px;
	font-weight: 800;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 2rem;
	padding-left: 2rem;
	margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
	.logoHeading {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.logoHeading img {
	height: 2.5rem;
}

.smallBarParent {
	position: relative;
	height: 3rem;
	width: 3rem;
}