.barParent {
	width: 100%;
	max-width: 3rem;
	max-height: 13rem;
	min-height: 10rem;
	background: #E8E8E8;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: 0.2s ease-in-out;
}

.navItem {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #4D4D4D;
}

.navItemActive {
	color: black;
}

.smallSize {
	height: 3rem;
	width: 3rem;
	min-height: 0;
}

.expandedNav {
	position: absolute;
	height: 12rem;
}